" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" you can find a list of commands here: https://jb.gg/h38q75
" find more examples here: https://jb.gg/share-ideavimrc

" source your .vimrc
source ~/.vimrc

" --- enable ideavim plugins https://jb.gg/ideavim-plugins
set commentary
set surround
set highlightedyank

" ide specific options
set ideajoin
set ideastatusicon=gray

" nohlsearch
nnoremap <esc> :nohlsearch<cr>

" -- map ide actions to ideavim -- https://jb.gg/abva4t
" fuzzy find stuff
nmap <leader>f <Action>(GotoFile)
vmap <leader>f <Action>(GotoFile)
nmap <leader>F <Action>(GotoClass)
vmap <leader>F <Action>(GotoClass)
nmap <leader>g <Action>(FindInPath)
vmap <leader>g <Action>(FindInPath)
nmap <leader>s <Action>(SearchEverywhere)
vmap <leader>s <Action>(SearchEverywhere)

" buffer switching
nmap <leader>b <Action>(Switcher)
nmap <leader>B <Action>(SwitcherAndRecentFiles)

" code styles
nmap <silent> gq <Action>(ReformatCode)
vmap <silent> gq <Action>(ReformatCode)

" jump around
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gt <Action>(GotoTest)
nmap gr <Action>(FindUsages)
vmap gr <Action>(FindUsages)

" run stuff
nmap gx <Action>(RunClass)
nmap <leader>x <Action>(RunMenu)

" code actions
nmap ga <Action>(GotoAction)
nmap K <Action>(ShowHoverInfo)

" project view
nmap - <Action>(SelectInProjectView)
nmap <space>e <Action>(ShowNavBar)

" hide all windows
nmap Q <Action>(HideAllWindows)

" diagnostics navigation
nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)
