" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" you can find a list of commands here: https://jb.gg/h38q75
" find more examples here: https://jb.gg/share-ideavimrc

" source your .vimrc
source ~/.vimrc

" --- enable ideavim plugins https://jb.gg/ideavim-plugins
set commentary
set highlightedyank

" ide specific options
set ideajoin
set ideastatusicon=gray

" -- map ide actions to ideavim -- https://jb.gg/abva4t
" fuzzy find stuff
nnoremap <leader>f :action GotoFile<cr>
vnoremap <leader>f :action GotoFile<cr>
nnoremap <leader>F :action GotoClass<cr>
vnoremap <leader>F :action GotoClass<cr>
nnoremap <leader>g :action FindInPath<cr>
vnoremap <leader>g :action FindInPath<cr>
nnoremap <leader>s :action SearchEverywhere<cr>
vnoremap <leader>s :action SearchEverywhere<cr>

" buffer switching
nnoremap <leader>b :action Switcher<cr>
nnoremap <leader>B :action SwitcherAndRecentFiles<cr>

" code styles
nnoremap <silent> gq :action ReformatCode<cr>
vnoremap <silent> gq :action ReformatCode<cr>

" jump around
nnoremap gd :action GotoDeclaration<cr>
nnoremap gD :action GotoTypeDeclaration<cr>
nnoremap gi :action GotoImplementation<cr>
nnoremap gt :action GotoTest<cr>
nnoremap gr :action FindUsages<cr>
vnoremap gr :action FindUsages<cr>

" run stuff
nnoremap gx :action RunMenu<cr>
nnoremap gX :action RunClass<cr>

" code actions
nnoremap ga :action GotoAction<cr>
nnoremap K :action ShowHoverInfo<cr>

" project view
nnoremap - :action SelectInProjectView<cr>

" hide all windows
nnoremap X :action HideAllWindows<cr>

" diagnostics navigation
nnoremap ]d :action GotoNextError<cr>
nnoremap [d :action GotoPreviousError<cr>
