/* put this to ~/Library/Application Support/Firefox/Profiles/<firefox_profile>/chrome/, should be your default profile*/
.tab-text.tab-label{
  font-size: 12px;
}

#tabbrowser-tabs .tab-context-line {
  display: none;
}

#tabbrowser-tabs .tab-background {
  border: solid 2px var(--identity-icon-color) !important;
}
